*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-image: url(../iamges/mine.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
div{
  width: 200px;
  height: 600px;
  display: flex;
  align-items: end;
  
  position: relative;
  animation: mymove 10s infinite;
}
@keyframes mymove {
  0%{top: 0px;}
  40%{top: 250px;}
  50%{top: 250px; left: 0px;}
  100%{top: 250px; left: 1500px;}
}